<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/products.png">
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                Secure your future with our different savings and investment options designed to help you reach your
                financial goals.<br>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
    <div class="row">
        <h5> <span class="sapphire ">INVESTMENT </span> ACCOUNTS</h5>
    </div>
</div>
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-4 pb-4">
            <div class="card box">
                <div class="card-header">
                    <img class="size" src="../../../../assets/fixed deposit.jpg">
                </div>
                <div class="card-body">
                    <h6 class="card-title sapphire">Fixed Deposit</h6>
                    <p class="card-text fontsize1">

                        <span>

                            Our monthly interest Fixed Deposit is offered

                            for a minimum of two years and includes

                            capital
                            protection. Investors may opt to re-invest or withraw principal at maturity.
                        </span>
                    </p>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-4">
            <div class="card box">
                <div class="card-header">
                    <img class="size img-fluid" src="../../../../assets/screen_2x.jpg">
                </div>
                <div class="card-body">
                    <h6 class="card-title sapphire">Fixed Period Shares</h6>
                    <p class="card-text fontsize1">

                        Fixed Period Shares are a medium-long term investment option that
                        allows
                        you
                        to fix your capital for a period of
                        24, 36 or 60 months at a fixed interest rate.
                        <span class="sapphire" style="float: right;" *ngIf="readMore2 === false">
                            <span (click)="readMore2 = true"><br><button style="float: right;"
                                    class="btn btn-sm round shake">Read
                                    more</button></span>
                        </span>
                        <span *ngIf="readMore2">This investment option protects you from the
                            decrease of the interest over the fixed period and assures you the security of your
                            capaital.
                        </span><br>
                        <span style="float: right;" *ngIf="readMore2" (click)="readMore2 = false">
                            <button style="float: right;" class="btn btn-sm round">Show
                                less</button>
                        </span>

                    </p>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-4">
            <div class="card box">
                <div class="card-header">
                    <img class="size" src="../../../assets/family.PNG">
                </div>
                <div class="card-body midnightblue">
                    <h6 class="card-title sapphire">Likusasa Fixed Deposit Account</h6>
                    <p class="card-text fontsize1">

                        Invest in your children's tomorrow by opening a Likusasa Fixed Account today. Our Likusasa Fixed
                        Account is an investment account
                        <span class="sapphire" style="float: right;" *ngIf="readMore3 === false">
                            <span (click)="readMore3 = true"><br><button style="float: right;"
                                    class="btn btn-sm round shake">Read
                                    More</button></span>
                        </span>

                        <span *ngIf="readMore3">
                            tailor made specifically for minor children below the ages of 16 years.<br><br> It is the
                            perfect
                            option
                            for parents (on behalf of thier children)
                            to safeguard thier capital while earning or accumulating thier returns of interest.
                        </span>
                        <span class="sapphire" style="float: right;" *ngIf="readMore3" (click)="readMore3 = false"><br>
                            <button style="float: right;" class="btn btn-sm round">Show
                                less</button>
                        </span>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <h6 class="midnightblue">PERMANENT SHARES</h6>
        </div>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-lg-4 pb-4">
                <div class="card box">
                    <div class="card-header">
                        <img class="size"
                            src="../../../../assets/canva-putting-money-coins-into-piggy-saving-money,-concept-saving-money-for-the-future-in-retirement.-MAEdPvTI9fQ.jpg">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title sapphire">Silver Class</h6>
                        <p class="card-text fontsize1">
                            Our Silver Permanent Shares are your gateway to substantial savings. These shares are
                            interest bearing
                            shares and interest is set at prime -2%.
                            Minimum investment period is 36 months.
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pb-4">
                <div class="card box">
                    <div class="card-header">
                        <img class="size" src="../../../../assets/s3.JPG">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title sapphire">Gold Class</h6>
                        <p class="card-text fontsize1">
                            Our Gold Class Permanent Shares represent part of a member’s ownership or equity in the
                            Society.
                            These permanent shares
                            do not have a rate of interest instead, they
                            <span class="sapphire" style="float: right;" *ngIf="goldShow === false"
                                (click)="goldShow = true">
                                <br>
                                <button style="float: right;" class="btn btn-sm round shake">Read
                                    More</button></span>

                            <span *ngIf="goldShow">
                                allow you to share in the profits of the `Society
                                through dividend pay-outs.<br><br>
                                The nature of these shares is such that they are not always available, the Society opens
                                invitation for purchase of shares when need
                                arises.
                            </span><br>
                            <span class="sapphire" style="float: right;" *ngIf="goldShow" (click)="goldShow = false">
                                <button style="float: right;" class="btn btn-sm round">Show
                                    less</button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 pb-4">
                <div class="card box">
                    <div class="card-header">
                        <img class="size" src="../../../../assets/platnum.JPG">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title sapphire">Platinum Class</h6>
                        <p class="card-text">
                        <p class="fontsize1">

                            Our Platinum Class Permanent Shares are not publicly marketed but can be negotiated with the
                            Building Society upone request.<br>
                            <span class="sapphire" style="float: right;" *ngIf="sharesSow === false"
                                (click)="sharesSow = true"><br><button style="float: right;"
                                    class="btn btn-sm round shake">Read
                                    More</button></span>


                            <span *ngIf="sharesSow">

                                These shares are
                                suitable for
                                high-net-worth individuals and institutional investors seeking investment options that
                                offer
                                alluring interest/dividends.

                                <br>
                                <br>
                                The Building Society reserves the right to approve/decline any applicant and
                                no
                                transfer
                                of permanent shares
                                will be completed without the approval of the board of directors. These shares are not
                                redeemable at
                                the instance of the
                                investor however, The Building Society
                                reserves the
                                right to redeem them
                                at its own instance.
                                <br>
                                <span class="sapphire" style="float: right;">
                                    <span (click)="sharesSow = false;"><button style="float: right;"
                                            class="btn btn-sm round">Show
                                            less</button></span>
                                </span>
                            </span>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h6 class="midnightblue ">LOANS</h6>
        </div>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-lg-4 pb-4">
                <div class="card box">
                    <div class="card-header">
                        <img class="size" src="../../../../assets/screen_2x (1).jpg">
                    </div>
                    <div class="card-body midnightblue">
                        <h5 class="card-title sapphire">Ingcamu loan</h5>
                        <p class="card-text fontsize1">
                            Obtain a secure loan of up to 80% against your investment.

                            Our Ingcamu Loans are granted to clients/members who have invested or deposited funds with
                            the
                            society for
                            either a fixed or indefinite term.
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-4">
                <div class="card box">
                    <div class="card-header">
                        <img class="size img-fluid" src="../../../assets/agriculture.PNG">
                    </div>
                    <div class=" card-body midnightblue">
                        <h6 class="card-title sapphire">Purchase Order Financing</h6>
                        <p class="card-text fontsize1">


                            Finance your purchase order needs with SCBS.<br><br>
                            SCBS introduces Purchase Order Financing to enable your small business to finance its larger
                            purchase order needs. This is a short term loan with a maximun term of ninty days.
                            <br>
                            <span class="sapphire" *ngIf="more === false" (click)="more=true"
                                style="float: right;"><button style="float: right;" class="btn btn-sm round shake">Read
                                    More</button></span>

                            <span class="sapphire" style="float: right;" *ngIf="more === true" (click)="more = false">
                                <button style="float: right;" class="btn btn-sm round"> Show less </button></span>
                        </p>

                        <div class="" *ngIf="more">

                            <br>
                            <h6 class="sapphire">Financing Criteria</h6>


                            <ul class="fontsize1">
                                <li>Quality of purchase orders</li>
                                <li>Management expertise</li>
                                <li>Nature of goods financed</li>
                                <li>Industry history and reputation</li>
                            </ul>
                            <p class="fontsize1">
                                We can look to finance you from E10 000.00 - E10 000 000.00

                                <br>
                                Loan Application Requirements: &nbsp;&nbsp; <a
                                    href="../../../../assets/Customer Requirements Checklist - PO .pdf"
                                    target="_blank">Download
                                    Requirements</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<br><br>