<!-- body area -->
<div class="hide">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/careers.png">
        </div>
    </div>
</div>
<div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="font1">
                <p>
                    <span style="color: royalblue;">Status Capital Building Society </span> draws from
                    the vast skills
                    and industry expertise of its
                    assembled
                    staff, management, and business partners. With currently one main branch
                    that exists in Ezulwini, SCBS plans to expand to all regions of the Kingdom, bringing our
                    services
                    closer to the people
                    as well as providing job opportunities within those regions.

                </p>
            </div>
        </div>
        <br><br>
        <div class="font">
            <span>JOIN OUR <span style="color: royalblue;">SCBS TEAM</span></span><br><br>
        </div>
        <!--
        <div class="row">
            <div class="col-lg-6 pb-3">
                <img src="../../../assets/we are hiring.JPG" class="img-fluid img-round">
            </div>
            <div class="col-lg-6">
                <div>
                    <h5><span class="sapphire">Open</span> Vacancies</h5>
                </div>
                <div class="p-5">
                    <table class="table table-responsive">
                        <thead>
                            <th class="sapphire">No</th>
                            <th class="sapphire">Jobs</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Sales Consultant- External Advert</td>
                                <td class="text-center"> <a href= "../../../assets/Status Capital Job Post SM V2_B.png"
                                        class="img-fluid img-round"> <button class="btn btn-sm round"> Apply
                                            now</button></a>
                                </td>
                            </tr>    
                        </tbody>
                    </table>
                </div>

            </div>
        </div> -->
        
        <br><br><br>
        
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="font1">
                    <span>Apply Now: <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=recruitment@scbs.co.sz"
                            target="_blank">recruitment@scbs.co.sz</a></span>
                </div>
            </div>
        </div>
        
        <!--
        <div class="row">
            <div class="col-lg-8">

                <div>
                    <h3 style="color: royalblue;">Vacancies</h3>
                </div>
                <div class="p-2">
                    <table class="table">
                        <tr class="p-3">
                            <td>Submit your application to <span style="color: royalblue;">recruitment@scbs.co.sz</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <br><br>
                
                <div>
                    <h3 style="color: royalblue;">Tenders</h3>

                    <div class="p-2">
                        <table class="table">
                            <tr class="p-3">

                                <td>REQUEST FOR PROPOSALS: Enterprise Risk Management Consultant</td>
                                <td><a href="../../../assets/Status Capital ERM Framework TOR Document (FINAL).pdf"><button
                                            class="btn btn-sm round">Apply now
                                        </button></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
        
            </div>
        </div> 
                <br><br><br><br><br><br><br><br>
            </div> -->
    </div>

    <br><br><br><br><br><br><br><br>