<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/whychooseus.JPG">
        </div>
    </div>
</div>


<div class="container fontsize1">
    <br>
    <!-- <h2 class="" style="color: #2e6dc0;"><span>WHY CHOOSE US</span></h2> -->
    <br>
    <p> <span class="sapphire">Status Capital Building Society </span> has ambitious plans to play a
        significant role in facilitating
        economic growth
        for
        Emaswati and the Kingdom of Eswatini, and in the process, accrue concomitant benefits to its members.</p>
    <p>Through its board of directors, management committee and staff, it has put in place strategies as
        well as systems
        and
        controls that will enable the delivery of value to all its stakeholders. We believe we have what it takes to
        bring
        enough competition and innovation to change the landscape of the financial services industry in Eswatini.
        Competition in
        this sector is healthy as it drives economic growth and financial inclusion which effectively reduces poverty in
        line
        with the country’s commitment to the Sustainable Development Goals. Eswatini is currently lagging as far as the
        4th
        industrial revolution (4IR) is concerned. Status Capital Building Society, through the use of digital technology
        and
        artificial intelligence, will be a pioneer in spearheading the move towards 4IR in the country.</p>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-2" style="background-color:mintcream">
                <div class="card-header">
                    <h2><span style="color: #2e6dc0;">Membership</span> Subscription</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Leveraging from the simplicity of being a Building Society, members receive
                            higher-than-market returns on their savings
                            and investments</li>
                        <li>Members are allowed to cede their investment as collateral</li>
                        <li>Members are entitled to be invited to the Annual General Meeting</li>
                        <li>Members have voting rights on decisions regarding how the Society is run</li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card mb-2" style="background-color:mintcream">
                <div class="card-header">
                    <h2><span style="color: #2e6dc0;">Enhanced</span> Product Offering</h2>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: none;">
                        <li>Increased customer retention</li>
                        <li>Tailor-made products and services to meet customer needs</li>
                        <li>Continually improved products to create value for our members</li>
                        <li>Tax benefits</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-2" style="background-color:mintcream">
                <div class="card-header">
                    <h2><span style="color: #2e6dc0;">Technology</span> Upgrade</h2>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: none;">
                        <li>Lower risks</li>
                        <li>Better customer satisfaction</li>
                        <li>Lower overall costs</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-2" style="background-color:mintcream">
                <div class="card-header">
                    <h2><span style="color: #2e6dc0;">Loan Book</span> Expansion</h2>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: none;">
                        <li>More lending products</li>
                        <li>Increased marketing efforts</li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card mb-2" style="background-color:mintcream">
                <div class="card-header">
                    <h2>Improved <span style="color: #2e6dc0;">Operational Efficiencies</span></h2>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: none;">
                        <li>Bonus incentivised agents to increase sales</li>
                        <li>Lower fixed costs</li>
                        <li>Increased customer reach (apps, agents)</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card mb-2" style="background-color:mintcream">
                <div class="card-header">
                    <h2><span style="color: #2e6dc0;">Differentiation</span></h2>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: none;">
                        <li>Well-positioned for future expansion to rural (unbanked) areas</li>
                        <li>Unique and friendly user experience</li>
                        <li>Refreshed branding</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>