<div>
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../../assets/permanent shares.JPG">
        </div>
    </div>
</div>

<div class="bg">
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-lg-12">
                <p class="pt-4 font">

                    PERMANENT SHARES
                </p>
                <p class="font1 justify">
                    These shares are not publicly marketed but can be negotiated with the building society on the
                    request
                    which will have to
                    be approved by the board. They give the investor long-term membership in the building society and
                    are
                    suitable for
                    high-net-worth individuals and institutional investors who have lump sums to save and want returns
                    on
                    their investments.
                    The nature of permanent shares issued by Status Capital Building Society is such that these will
                    provide
                    the investors
                    with equity in the building society.

                    The building society, therefore, reserves the right to approve/decline any applicant and no transfer
                    of
                    permanent shares
                    will be completed without the approval of the board of directors. These shares are not redeemable at
                    the
                    instance of the
                    investor and they must be paid for in full before issue. The building society however reserves the
                    right
                    to redeem them
                    at its own instance.
                </p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

</div>