<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/mortgage.JPG">
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid  p-4">
    <div class="row white" style="background-color: #27376E">
        <div class="col-lg-6">
            <br>

            <br>
            <h6>
                SCBS will be playing a fundamental role in ensuring that we provide adequate housing solutions to our
                members.
            </h6>

            <span style="float: right;"> <button class="btn round mybutton" routerLink="/contact">Email
                    us</button></span>

            <br>
            <br><br>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">


            </div>
        </div>
    </div>

</div>