<div class="hide">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/innovation_.JPG">
        </div>
    </div>
</div>

<div class="container">
    <br><br><br>
    <div>
        <b>"The market and competitive playing field for building societies are evolving rapidly away from the
            environment
            in which they have historically succeeded."</b>
        <span style="float: right;" class="lg">Ref: UK Building Societies: Ripe for Reinvention?<br>L.E.K Consulting's
            Financial
            Services practice</span>
    </div>
    <br><br>
    <p class="mt-4 justify">We innovate to continually improve and create value for our members through technological
        innovations that will
        better
        serve them and attract new ones. We endeavour to gain client trust, operational excellence, and competitive
        advantage by
        turning ideas into action and adopting innovative customer-focused offering for the future.</p>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h2>WHY WE <span style="color: #2e6dc0;">INNOVATE</span></h2>
            <h3 class="mt-4" style="color: #2e6dc0;">1 Customer experience</h3>
            <p class="pl-4">
                Refining the customer experience will be the main catalyst for our goal to innovate and deploy
                technology that drives
                core transformation and automation. Status Capital Building Society has entered an era where it is
                not only enough to be
                customer-focused but to be customer-obsessed by building technology, systems and processes designed
                to win, serve, and
                retains customers.
            </p>
            <h3 class="mt-4" style="color: #2e6dc0;">2 Fraud prevention</h3>
            <p class="pl-4">
                A survey done by PwC’s Global Economic Crime and Fraud Survey detects 49% of global organisations that
                have been a
                victim of fraud and financial crime. Some of the organisations that fell victim have recovered less than
                25% of fraud
                losses, demonstrating that fraud prevention is key. Status Capital Building Society is developing an
                infrastructure that
                offers a secure, holistic view across all their information to detect patterns that may indicate
                fraudulent behaviour.
            </p>
            <h3 class="mt-4" style="color: #2e6dc0;">3 Regulatory framework</h3>
            <p class="pl-4">
                The Status Capital Building Society Innovation Framework is aimed to mitigate risk, gain greater control
                over compliance
                hurdles and identify hidden risks that are hard to find, guided by the Eswatini financial regulations
                and policy
                framework.
            </p>
            <h3 class="mt-4" style="color: #2e6dc0;">4 Big Data Analytics</h3>
            <p class="pl-4">
                Programmatic access to data and services is becoming a critical concern. SCBS API Management
                infrastructure with the
                composition of Artificial Intelligence (AI) holds a promise to enhance digital transformation and
                establish new lines of
                revenue for both stakeholder and shareholder value. We aim is to deliver defined financial services
                related to customer
                needs. We understand that our customer needs are not the same, hence big data analytics advances the
                delivery of
                services specific to individual customer need.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/4 corners.svg" />
        </div>
    </div>
    <h2>5 STEPS <span style="color: #2e6dc0;">REQUIRED FOR INSTILLATION</span></h2>
    <p>Status Capital Building Society aims to introduce tech systems to generate higher quality services to a wider
        customer
        base at record speed. The five steps below serve to demonstrate how we aim to introduce and use AI to meet our
        innovative strategic objectives and strengthen competitiveness.</p>
    <div class="row mt-4 mb-4">
        <div class="col">
            <img src="../../../assets/step1.svg" />
            <h2 class="text-center" style="color: #2e6dc0;">STEP 1</h2>
            <h5 class="text-center" style="color: #2e6dc0;">Business Analysis</h5>
        </div>
        <div class="col">
            <img src="../../../assets/step2.svg" />
            <h2 class="text-center" style="color: #2e6dc0;">STEP 2</h2>
            <h5 class="text-center" style="color: #2e6dc0;">Integration</h5>
        </div>
        <div class="col">
            <img src="../../../assets/step3.svg" />
            <h2 class="text-center" style="color: #2e6dc0;">STEP 3</h2>
            <h5 class="text-center" style="color: #2e6dc0;">AI Systems Configuration</h5>
        </div>
        <div class="col">
            <img src="../../../assets/step4.svg" />
            <h2 class="text-center" style="color: #2e6dc0;">STEP 4</h2>
            <h5 class="text-center" style="color: #2e6dc0;">AI Systems Licensing</h5>
        </div>
        <div class="col">
            <img src="../../../assets/step5.svg">
            <h2 class="text-center" style="color: #2e6dc0;">STEP 5</h2>
            <h5 class="text-center" style="color: #2e6dc0;">Business Analysis</h5>
        </div>
    </div>
    <h2 class="mt-4 mb-4">OVERVIEW OF <span style="color: #2e6dc0;">THE SCBS TECHNOLOGY</span></h2>
    <div class="row mb-4">
        <div class="col-md-6">
            <img src="../../../assets/scbs technology.svg" />
        </div>
        <div class="col-md-6">
            <h3>Product & service offering</h3>
            <ol>
                <li>The Status Capital Building Society Mobile App and Website originates loans and allows for customers
                    to complete
                    transactions instantly and at any time or location.</li>
                <li>Status Capital Building Society offers a range of products across the banking, credit and insurance
                    sector. Depending on
                    the product selected by the customer, their application process will be channelled appropriately.
                </li>
                <li>Status Capital Building Society offers a range of AI systems, to help with fraud prevention, credit
                    scoring, automated
                    income and expenses calculator, conversions engine, client churn model, collections algorithm and a
                    loan uptake
                    predictor.</li>
                <li>Status Capital Building Society developed its own proprietary loan management system, AL Bank which
                    enables SCBS to
                    manage the full loan cycle.</li>
                <li>Customer transaction records are automatically pushed to the Accounting Ledger from the AL Bank
                    system. Once in the
                    ledger, financial reports can be generated to ensure that the accounting position of the data is
                    stored in an SQL
                    Database hosted in our secure data centre. We use real-time replication to keep our data warehouse
                    and reports up to
                    date.</li>
            </ol>
        </div>
    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p class="text-center" style="font-size: xx-large;">FUTURE INITIATIVES</p>
            <p class="text-justify">
                Status Capital Building Society provides a budgeting tool and credit scoring tool to assist its
                customer,
                understand
                and operate
                within their financial means supporting the groups resposible lending drive.
            </p>
        </div>
    </div>
</div>
<br><br>
<!-- innovations panel -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header ">
                    <div>
                        <img src="../../../assets/credit score.svg"
                            style="max-height: 50px; float: left; margin-right: 15px;">
                        <span style="color: royalblue;">JERRY</span>
                    </div>
                    <div>
                        Credit Scoring
                    </div>
                </div>


                <div class="card-body">
                    Our proprietary credit decision and scoring technology platform, is based on artificial intelligence
                    (AL) algorithms. It
                    consists of several factors, such as the customer's behavioural, transactional and credit bureau
                    data, as well as employment information.

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header ">
                    <div>
                        <img src="../../../assets/credit score.svg"
                            style="max-height: 50px; float: left; margin-right: 15px;">
                        <span style="color: royalblue;">SALLY</span>
                    </div>
                    <div>
                        Chatbot
                    </div>
                </div>
                <div class="card-body">
                    Using a neural network, we train the network to respond to questions and answer what it has been
                    taught. Adding this to our
                    website makes the experience more interactive. Also, this gives us the ability to apply support
                    continuously.
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!-- innovations panel -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header ">
                    <div>
                        <img src="../../../assets/credit score.svg"
                            style="max-height: 50px; float: left; margin-right: 15px;">
                        <span style="color: royalblue;">ALEC</span>
                    </div>
                    <div>
                        Lending Expenses Calculator
                    </div>
                </div>


                <div class="card-body">
                    Automated Lending Expenses Calculator (ALEC for short), is a Natural Language processing machine
                    learning and AL model that does OCR on scanned statements. The data retrieved predicts the customer
                    disposable income as well
                    as various expenses from the statement.

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header ">

                    <div>
                        <img src="../../../assets/credit score.svg"
                            style="max-height: 50px; float: left; margin-right: 15px;">
                        <span style="color: royalblue;">SHERLOCK</span>
                    </div>
                    <div>
                        Fraud Detection
                    </div>
                </div>


                <div class="card-body">
                    Uses AI algorithms (e.g. clustering and classification) to calculate a client’s fraud score based on
                    how close that
                    client’s online behaviour matches past fraudulent behaviour of known fraudsters. Clients with high
                    fraud scores are
                    flagged for further review.
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<!-- ewallet start here panel-->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>SCBS E-Wallet</p>
            <p style="color: royalblue;">... why users will love the E-Wallet</p>
            <br>
            <p>
                <span class="cl">Super Low Transaction fees</span><br>
                Transaction fees from as low as 0,5% to receive money from anyone.
            </p>
            <p>
                <span class="cl">All payments are real-time</span><br>
                Instant settlement with immediate availability.
            </p>

            <p>
                <span class="cl">Integrated</span>
                Point of Sale payments, ATM withdrawals and send cash vouchers. Enjoy online purchases with Masterpass,
                Zapper and
                Snapscan enabled shopping sites.
            </p>
            <p>
                <span class="cl">Loyalty</span><br>
                Join the club when you spend with your card.
            </p>
            <p>
                <span class="cl">Convenience</span><br>
                Buy airtime, data and pay for your other subscriptions; Netflix, DSTV and so much more.
            </p>
            <p>
                <span class="cl">Send money to friends & family</span><br>
                Peer-to-peer wallet payments, send Cash Vouchers and to any bank.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/scbs-products-e-wallet-phone-f82760a3.jpeg" class="img-fluid">
        </div>
    </div>
</div>


<!-- Additional Benefits -->
<div class="container-fluid p-5">

    <div class="row p-4">
        <h4>Additional Benefits for the Entrepreneur</h4>
        <br><br>
        <p><span style="color: #3767AF;">QR Speedpoint</span>
            <br>
            You don’t need to be a merchant to truly be financially included. All individuals, including micro’s and
            SME’s, now have the ability to generate QR code payment requests for others to scan and pay using instant
            EFT, card and wallet payments.
        </p>

    </div>

    <div class="row p-4">
        <p style="font-size: larger; color: royalblue;">
            Here’s why you’ll love it for business
        </p>
    </div><br>
    <div class="row p-4">
        <div class="col-lg-6">
            <p>
                <img src="../../../assets/fast.svg" style="max-height: 70px; float: left; margin-right: 15px;">
                <span style="color: royalblue;">Fast, Affordable Go To Market</span><br><span>
                    It’s built, tried and tested with a reach of 157k plus merchants, including over 1000 unique users
                    and over 50
                    registered businesses.</span>
            </p>
            <br>
            <p>
                <img src="../../../assets/mobile.svg" style="max-height: 70px; float: left; margin-right: 15px;">
                <span style="color: royalblue;">Mobile Digital Onboarding & Fraud Prevention</span><br><span>
                    Every user will undergo a simple registration process. A thorough KYC & AML verification will be
                    processed based on our
                    Risk Base Approach.</span>
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <img src="../../../assets/api.svg" style="max-height: 70px; float: left; margin-right: 15px;">
                <span>
                    <span style="color: royalblue;">API-Enabled</span><br><span>
                        With the ability to integrate more value-added services for our members, including ATM
                        withdrawals
                        and cash deposits, it
                        doesn’t stop there. Status Capital Building Society will further offer additional financial
                        services
                        tailored to suit
                        our member profiles in one seamless in-app experience.</span>
                </span>
            </p>
            <br>
            <p>
                <img src="../../../assets/bigdata.svg" style="max-height: 70px; float: left; margin-right: 15px;">
                <span style="color: royalblue;">Big Data</span><br><span>
                    <span style="color: royalblue;">Behaviour</span> – change<br>
                    <span style="color: royalblue;">Acquisition</span> – redefined<br>
                    <span style="color: royalblue;">Retention</span> – secured<br>
                </span>
            </p>
        </div>
    </div>
</div>
<br><br>

<div class="gb p-3">
    <p class="text-center" style="font-size: xx-large;">WHAT DATA CAN BE USED</p><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="">Sim Skins / USD</h3>
                <p>
                    A sim skin that enables recording of USSD wallet transactions (e.g. BibiMoney partnership)
                </p>

                <h3 class="">Psychometric Data</h3>
                <p>
                    Answers to psychometric data
                </p>

                <h3 class="">Credit Bureau</h3>
                <p>
                    Credit profiles from credit bureaus
                </p>

            </div>
            <div class="col-lg-6">
                <h3 class="">Social Media</h3>
                <p>
                    Instagram, Facebook, LinkedIn & Twitter
                </p>
                <h3 class="">Government</h3>
                <p class="">
                    Partnership with the Government to share data
                </p>
                <h3 class="">Cellphone Data</h3>
                <p>
                    Partnership with MNO to share data
                </p>
                <h3 class="">Bank Accounts</h3>
                <p>
                    Bank transactions for existing bank clients
                </p>
            </div>
        </div>
    </div>
</div>