<!-- Footer -->
<footer class="page-footer p-3 bg">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 pb-5 linel">

                <!-- Content -->
                <h6 class="text-uppercase lb"><a class="white" routerLink="/products">Products and services</a></h6>
                <hr class="teal accent-3 mb-1" style="width: 60px;">

                <a class="white" routerLink="/investments">Investments</a>
                <br>

                <a class="white" routerLink="/loans">Loans</a>

                <hr class="white">
                <h6 class="white">FUTURE INITIATIVES</h6>
                <hr class="teal accent-3 mb-1 mt-0 " style="width: 60px;">


                <a class="white" routerLink="/loans" (click)="savepageclicked('futureloans')">Loans</a>
                <br>

                <a class="white" routerLink="/investments" (click)="savepageclicked('futuresavings')">Savings &
                    Investments</a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 pb-4">

                <!-- Links -->
                <h6><a class="white" routerLink="/moreabout">ABOUT US</a></h6>
                <hr class="teal accent-3 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="white" routerLink="/corporategovernance"
                        (click)="savepageclicked('corporategovernance')">Corporate Governance</a>
                </p>
                <p>
                    <a class="white" routerLink="/management" (click)="savepageclicked('management')">Management and
                        board of directors</a>
                </p>
                <p>
                    <a class="white" routerLink="/whychooseus" (click)="savepageclicked('whychooseus')">Why choose
                        us</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 white">

                <!-- Links -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-5 liner white">

                <!-- Links -->
                <h6 class="lb"> <a class="white" routerLink="/contact"> CONTACT </a></h6>
                <hr class="teal accent-3  mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p style="font-size:medium;">
                    <i class='fas fa-map-marker-alt fa-lg'></i> &nbsp; The Cresent, Ezulwini &nbsp;<br><br><i
                        class='far fa-clock fa-lg'></i><span> Mon - Fri : 08:00 - 16:30 <br>
                        <i class='far fa-clocsk'></i> &nbsp; &nbsp;&nbsp; Saturdays : 10:00 - 14:00</span>
                </p>

                <p style="font-size:medium;">

                    <i class='far fa-envelope pb-2'></i> info@scbs.co.sz <br><a
                        href="https://api.whatsapp.com/send?phone=268%207944%206339"><i
                            class="fab fa-whatsapp white pb-2"></i>&nbsp;
                        <span class="white">WHATSAPP</span></a><br><i class='fas fa-phone '></i> +268
                    24171975 <i class="fa-regular fa-0"></i>
                </p>

                <p class="p-2">
                    &nbsp;&nbsp;<a href="https://www.linkedin.com/company/status-capital-building-society/about/"
                        (click)="savepageclicked('linkedin')"><img class="imgS"
                            src="../../../../assets/linkedin.JPG"></a>&nbsp;&nbsp;
                    <a href="https://www.facebook.com/statuscapitalbuildingsociety"
                        (click)="savepageclicked('facebook')"><img class="imgS"
                            src="../../../../assets/facebook.JPG"></a>&nbsp;&nbsp; <a
                        href="https://www.instagram.com/statuscapitalbuildingsociety/"
                        (click)="savepageclicked('instagram')"><img class="imgS"
                            src="../../../../assets/instater.JPG"></a>
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <div class="container-fluid " style="background-color: #27376E; font-size: smaller;">
        <!-- Copyright -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="text-center white">
                    <br>
                    <br>
                    Status Capital Building Society is a licensed financial services provider regulated by the Financial
                    Services Regulatory
                    Authority of Eswatini and is inclined <br> to operate within the parameters of the Building
                    Societies Act
                    of
                    1962.<br>
                    <br>

                </p>
            </div>
            <div class="col-md-2"></div>
            <!-- Copyright -->
        </div>
    </div>
    <br>
    <!-- last paragraph -->
    <div class="container-fluid" style="font-size: smaller;">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center white">
                    &copy;Status Capital Building Society <span class="line1"></span> All rights Reserved
                    <br>

                    <span class="hover line1" routerLink="/complaints-policy">Complaints
                        Policy</span>
                </p>
            </div>
        </div>
    </div>
</footer>