<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/media.JPG">
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding: 10;">
            <img width="80%" class="img-responsive" src="../../../assets/Public Statement.23.11.23.jpg" />
            <div class="pt-3 text-center">
                <img width="15px" src="../../../assets/appointment-date-icon-free-vector.jpg"> &nbsp;
                <span style="font-size:15px;">
                    November 23,
                    2023 </span>
            </div>
        </div>
    </div>
</div>
<br>
<hr><br><br><br>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-1">

        </div>
        <div class="col-lg-6 bc">

            <div style="float: left; color: white; font-size: x-large;" class="p-4">
                <span>
                    <div class="">
                        <b>
                            Status Capital Planning To Raise Necessary Funds
                        </b>
                        <br>
                        <span style="font-size:15px">
                            Times Of Eswatini
                        </span><br>
                        <img width="15px" src="../../../assets/appointment-date-icon-free-vector.jpg"> &nbsp; <span
                            style="font-size:15px;">
                            July 11,
                            2023 </span>
                        <br><br>
                        <div style="float: left; font-size:15px; color: #27376E;">
                            <a href="../../../assets/Times of Eswatini- Tuesday, July 11, 2023.jpg"> READ MORE ... </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <br><br>
    <div class="row">

        <div class="col-lg-5">

        </div>
        <div class="col-lg-6 bc">
            <div style="color: white; font-size: x-large;" class="p-4">


                <span>
                    <div class="">
                        <b>
                            Status Capital Building Society On A Growth Path
                        </b>
                        <br>
                        <span style="font-size:15px; color: white;">
                            Eswatini Observer
                        </span><br>
                        <img width="15px" src="../../../assets/appointment-date-icon-free-vector.jpg"> &nbsp; <span
                            style="font-size:15px; color: white;">
                            July 11,
                            2023 </span>
                        <br><br>
                        <div style="float: left; font-size:15px; color: #27376E;">
                            <a href="../../../assets/Eswatini Observer- Tuesday, July 11, 2023_page-0001.jpg"> READ MORE
                                ... </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-6 bc">
            <div style="color: white; font-size: x-large;" class="p-4">


                <span>
                    <div class="">
                        <b> Nomfundo Steadies Status Capital </b>

                        <br>
                        <span style="font-size:15px;">
                            Eswatini Observer
                        </span><br>
                        <img width="15px" src="../../../assets/appointment-date-icon-free-vector.jpg"> &nbsp; <span
                            style="font-size:15px;">
                            July 10,
                            2023 </span>
                        <br><br>
                        <div style="float: left; font-size:15px; color: #27376E;">
                            <a href="../../../assets/Eswatini Observer- Monday, July 10, 2023_page-0001.jpg"> READ MORE
                                ... </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-5">

        </div>
        <div class="col-lg-6 bc">
            <div style="float: right; color: white; font-size: x-large;" class="p-4">


                <span>
                    <div>
                        <b> Status Capital's Nomfundo: Leader with deep sense of country duty </b>
                        <br>
                        <span style="font-size:15px;">
                            Times Of Eswatini
                        </span><br>
                        <img width="15px" src="../../../assets/appointment-date-icon-free-vector.jpg"> &nbsp; <span
                            style="font-size:15px;">
                            July 9,
                            2023 </span>
                        <br><br>
                        <div style="float: left; font-size:15px; color: #27376E;">
                            <a href="../../../assets/Times of Eswatini- Sunday, July 9, 2023.jpg"> READ MORE
                                ... </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <br>
    <br><br>
    <div class="container-fluid  p-4">
        <div class="row white" style="background-color: #27376E">
            <div class="col-lg-6">
                <br>
                <h1>
                    <b> Annual General Meeting </b>
                </h1>
                <br>
                <h6>
                    The Building Society’s Annual General Meeting (AGM) where members are invited to discuss and
                    vote on
                    matters
                    pertaining the
                    Building Society is held every year.<br><br>
                    Details for this year's Annual General Meeting will be made available to
                    eligible
                    members in due course.
                </h6>
                <br>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-lg-6">
                <div style="color: white; font-size: x-large;" class="p-4 bc">
                    <span>
                        <div class="">
                            <p class="text-center">Second Annual General Meeting </p>

                            <span style="font-size:15px;">
                                <div style="font-size:15px; color: #27376E;" class="text-center">
                                    <a (click)="secondGm = true; firstGm = false"> <button class="bc"> READ MORE
                                        </button> </a>
                                </div>
                            </span>
                        </div>
                    </span>
                    <br>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="color: white; font-size: x-large;" class="p-4 bc">
                    <span>
                        <div>
                            <p class="text-center"> First Annual General Meeting </p>

                            <span style="font-size:15px;">
                                <div style="font-size:15px; color: #27376E;" class="text-center">
                                    <a (click)="firstGm = true; secondGm = false"> <button class="bc"> READ
                                            MORE</button> </a>
                                </div>
                            </span>
                        </div>
                    </span>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <br><br>
        </div>

        <div *ngIf="secondGm" class="row">
            <div class="col-lg-12">
                <div>
                    <br>
                    <!-- <img *ngIf="!showImg" src="../../../assets/imgheader.JPG" class="img-fluid"> -->
                    <img src="../../../assets/Status Capital Building Society- Abridged Financial Statement 2021- Second AGM Notice- July 2023_page-0001.jpg"
                        class="img-fluid" />
                    <br><br>
                    <p class="p-3 text-center" style="color:rgba(54,93,147)">
                        <span style="font-size: 30px;"> New Directors Nomination Forms: </span> <br> <a
                            href="../../../assets/SCBS- New Directors Nomination Forms and Advert 2023.pdf"
                            style="color:rgba(54,93,147)"><button class="btn btn-outline-primary bc"
                                style="font-size: 30px;">Download </button></a>
                    </p>
                    <p class="text-center"> <a href="#" (click)="secondGm = false">Read Less ...</a> </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row" *ngIf="firstGm">
            <div class="col-lg-12">
                <div>

                    <!--Abridged Financial Statements for the year ended 31 December 2020 and notice of the AGM -  -->
                    <!-- <span (click)="showImg = true" class="sapphire pointer">Review</span>. -->
                    <br>

                    <!-- <img *ngIf="!showImg" src="../../../assets/imgheader.JPG" class="img-fluid"> -->
                    <!-- <img *ngIf="!showImg" src="../../../assets/AGM.JPG" class="img-fluid" /> -->
                    <img width="100%" src="../../../assets/SCBS.Abridged Financials and AGM notice.June 2021.jpg"
                        class="img-fluid" />


                </div>
                <br>
                <p class="text-center"> <a href="#" (click)="firstGm = false">Read Less ...</a> </p>
            </div>
        </div>

    </div>
    <br><br><br>