<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/media.JPG">
        </div>
    </div>
</div>
<br>
<br><br>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="card-header">
                <span style="color: green ;">Your Personal Finance - <b> Times of Eswatini</b></span>
            </div>
            <div class="text-center">
                <img class="img-fluid" src="../../../assets/times.JPG">
            </div>
            <br>
            <div class="text-center">
                <a href="../../../assets/times.pdf" target="_blank"><button class="btn btn-outline-success">READ
                        MORE</button></a>
            </div>
        </div>
    </div>
</div>
<br><br>
<hr>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">

            <div class="card-header text-center">
                <span style="color: green ;">FSRA Publications – Financial Marketplace </span>
            </div>

            <div class="text-center">
                <img class="img-fluid" style="max-height: 400px; max-width: 400px;"
                    src="../../../assets/mortgage cover.JPG">
            </div>
            <div class="card-footer text-center">
                <a href="../../../assets/fsra.pdf" target="_blank"><button class="btn btn-outline-success">READ
                        MORE</button></a>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="card-header text-center">
                <span style="color: green; font-size:smaller ">SCBS Digital
                    Transformation with Musoni
                    System</span>
            </div>
            <div class="card-headerr">
                <!--
                    We are happy to announce that <span style="color: rgb(75, 75, 231) ;"> Status Capital Building
                        Society
                    </span>
                    (SCBS) has chosen <span style="color: rgb(75, 75, 231) ;"> Musoni System </span> as
                    their digitalisation
                    partner. SCBS is our very first customer in Eswatini (formerly known as Swaziland) ....
                -->
            </div>

            <div class="text-center">
                <img style="max-height: 348px; max-width: 400px;" src="../../../assets/Mr Mbetse linkedin (3).jpg" />
            </div>
            <div>
                <div class="card-footer text-center">
                    <a
                        href="https://www.linkedin.com/feed/update/urn:li:activity:6944916653264494592/?msgControlName=reply_to_sender&msgConversationId=2-NjY2NWY4ZDctOWY1MS00NmYxLWIxNjAtMDhhN2Y4MGU0MjRiXzAxMg%3D%3D&msgOverlay=true"><button
                            class="btn btn-outline-success">READ MORE</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>
    <span class="container-fluid">
        <hr>
    </span>
    <br><br>
    <div class="container-fluid  p-4">
        <div class="row white" style="background-color: #27376E">
            <div class="col-lg-6">
                <br>
                <h1>
                    <b> Annual General Meeting </b>
                </h1>
                <br>
                <h6>
                    The Building Society’s Annual General Meeting (AGM) where members are invited to discuss and vote on
                    matters
                    pertaining the
                    Building Society is held every year.<br><br>
                    Details for this years for this general annual general meeting will be made available to eligible
                    members in due course.
                </h6>
                <br>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">

                    Abridged Financial Statements for the year ended 31 December 2020 and notice of the AGM -
                    <span (click)="showImg = true" class="sapphire pointer">Review</span>.
                    <br><br>
                    <!-- <img *ngIf="!showImg" src="../../../assets/imgheader.JPG" class="img-fluid"> -->
                    <img *ngIf="!showImg" src="../../../assets/AGM.JPG" class="img-fluid" />
                    <img *ngIf="showImg" src="../../../assets/SCBS.Abridged Financials and AGM notice.June 2021.jpg"
                        class="img-fluid" />


                </div>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br>