<div class="hide">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/innovation_.JPG">
        </div>
    </div>
</div>

<div class="container">
    <br><br>
    <p class="mt-4 justify">We innovate to continually improve and create value for our members through technological
        innovations that will
        better
        serve them and attract new ones. We endeavour to gain client trust, operational excellence, and competitive
        advantage by
        turning ideas into action and adopting innovative customer-focused offering for the future.</p>
    <br>
</div>

<div class="container">
    <div class="row">
        <p class="col-lg-6 mt-4 justify">
            <br><br>
            <a href="https://play.google.com/store/apps/details?id=io.scbs.buildingsociety">
                <img src="../../assets/google-play-badge.png" style="width: 70%;">
            </a>
        </p>
        <p class="col-lg-6 mt-4 justify">
            <br><br>
            <a href="../../assets/scbsmobileapp.apk">
                <img src="../../assets/download-apk.png" style="width: 70%;">
            </a>
        </p>
    </div>

</div>
<br><br><br><br><br><br><br><br>