<div>
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../../assets/fixed_deposit.JPG">
        </div>
    </div>
</div>

<div class="bg">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="pt-4 font">

                    FIXED DEPOSIT
                </p>
                <p class="font1 justify">
                    Our monthly interest fixed deposit is offered for a minimum of two years and includes capital
                    protection
                    which is
                    returned or re-invested at the end of the term. Looking at the market and economic factors,
                    investors
                    take advantage of
                    this opportunity to safeguard their capital while earning their returns on interest.
                </p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

</div>