<div>
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../../assets/SUBSCRIPTION SHARES.JPG">
        </div>
    </div>
</div>
<br>


<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="pt-4 font">

                    SUBSCRIPTION SHARES
                </p>
                <p class="font1 justify">
                    This is an affordable short to long term investment product. After accumulating substantial savings,
                    Subscription Shares
                    are your gateway to higher earning investment products such as Fixed Deposits, Permanent Shares and
                    Fixed Period Shares.
                    SCBS will accept instructions relating to the disposal of interest. Options available are to
                    reinvest or
                    to credit an
                    alternative account held at The Society. Customers are encouraged to reinvest interest in line with
                    the
                    spirit of the
                    investment product.
                </p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

</div>