<div class="hide">
    <div class="row">
        <div class="col-lg-12">
            <img src="../../../../../assets/aboutbg.png" class="img-fluid">
        </div>
    </div>
</div>

<br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../../../assets/aboutsecond.png" class="img-fluid">
        </div>
        <div class="col-lg-6 p-1">
            <h2>
                <span class="sapphire">EXECUTIVE</span> <span class="denimblue"> SUMMARY</span>
            </h2>
            <br>
            <p class="text-justify">
                <span class="denimblue ">Status Capital Building Society </span> is an Eswatini registered and
                licensed
                financial services provider
                carrying on the
                business of a building society within the parameters of the Building Societies Act of 1962. Our head
                office and main
                branch is based at The Crescent, Ezulwini.
            </p>
            <P class="text-justify">
                Although the Status Capital Building Society was ﬁrst registered in 2019, it can draw on the vast skills
                and industry
                expertise of its assembled staff, management and business partners. Status Capital Building Society has
                developed its
                Vision and Mission in line with the National Development Strategy from the Minister of Economic Planning
                and Development
                and focus on SME Lending, Vendor Financing, Agriculture and Farming.
            </P>
            <P (click)="more = true">
                <span *ngIf="more === false">Read More +</span>
            </P>
            <p *ngIf="more === true">
                <span (click)="more = false">Show Less - </span>
            </p>

        </div>
    </div>
</div>
<br>
<div class="container" *ngIf="more">
    <!-- read more content -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p class="text-justify">
                <br>
                Access to finance for SMMEs remains a formidable obstacle in Eswatini. SCBS has developed its Vision and
                Mission in line with the
                National Development Strategy from the Minister of Economic Planning and Development and focus on
                Agriculture and Farming,
                SMME Lending and Vendor Financing.
            </p>
            <p class="text-justify">
                The "Making Access Possible" (MAP) study (2014) on financial in Eswatini developed jointly by UNCDF,
                FinMark Trust (FTM)
                and the Center for Financial Regulation and include (Cenfri) on financial inclusion revealed that only
                3.7 % of self-employed people had access
                to formal credit. This means that 96.3 % of SMME's in the country are excluded from accessing credit.
                This has a negative impact
                in the economy and SCBS will be seeking to address and redress that by providing vendor financing and
                improving financial inclusion to boost SMME's
                in Eswatini. MAP noted that:
                <br>
                "Access to credit is important for most businesses waiting to grow, including SMME's which frequantly
                equire large capital outlay to finance start-up,
                input and asset costs relative to small amounts of savings"
            </p>
            <br>
        </div>
    </div>
</div>

<!-- add more infor -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div *ngIf="more === true">
                <img src="../../../../../assets/aboutmoney.png" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-8 pr-5 text-justify">
            <p>
                SCBS will therefore play its role in ensuring that the Society improves financial inclusion in the SMME
                sector in line with the country's
                commitment towards substainable development goals (SDG's) and makes a commitment towards contributing to
                the country's economic growth and development.
            </p>
            <p>
                The Revised Small, Micro & Medium Enterprise Policy (2018), of Eswatini from the Ministry of Commerce,
                Industry and Trade encourages
                all stakeholders, including Building Societies to support the development of the SMME Sector. The policy
                encourages building societies and mortgage
                finance providers to provide loans to SMMEs desirous of purchasing land or property for business use.
                Although SCBS has not expanded
                to the extent of providing Mortgage to SMMEs, the Society has introduced Purchase Order Financing to
                SMMEs
                that do not have access to the funding they need to fulfill their large purchase order needs.

            </p>
        </div>

    </div>
</div>


<!-- the difference between a society and a bank -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br><br>
            <h2 class="text-uppercase">What is the diffence between a <span class="denimblue"> bank and building
                    Society</span></h2>
            <br>
            <p>
                Banks and Building Societies have been intrinsically linked in terms of core principles and how they are
                run a few people
                would say they understand the difference between the two. But what are the two distinctions between the
                two?<br>

            </p>
            <!-- Basic difference -->
            <span style="font-size: larger;">Basic Differences</span>
            <p>
                Banks are companies that are usually listed on the stock market, hence they are owned by and run for the
                benefit
                of thier own shareholders.
            </p>
            <p>
                Building societies on the flip side do not have external shareholders involved in thier business.
            </p>
            <p>
                Investors and deposit holders become "members" of the society. These members can vote on decisions that
                will affect
                the overall building society. Since building societies are not required to pay dividends to any
                shareholders due to the lack
                of them, it means that they can consequently offer better interest rates on savings and mortgages to
                their members.
            </p>
            <br>
            <h3 class="denimblue text-uppercase">How Building Societies are run</h3>
            <p>
                There appears to be a lot of confusion about what distinguishes banks and building societies in terms of
                how they are run.
            </p>
            <p class="text-justify">
                The common misconception is that building societies rely entirely on customer savings deposits, but this
                is not the
                case.

                Building societies receive funding not only from savings deposits but also from retail and institutional
                funds such as
                pension funds, however, building societies receive this funding in the form of fixed deposits or
                membership subscriptions rather
                that shareholder investment.
            </p>
        </div>
    </div>
</div>
<br>

<p class="p-5">

    <span class="denimblue">FUTURE PROOFING </span> OUR STRATEGY
    <br><br>
    Status Capital Building Society continues the tradition of operating for the benefit it's member,<br>
    borrowers and for the improvement of economic growth and development in Eswatini.
</p>

<p style="font-size: x-large;" class="text-center text-uppercase">
    <span class="fadedskyblue">Key challenges facing</span> <span class="sapphire"> building societies </span>
</p>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-lg-4">
            <h5 class="sapphire">Increasing competitive intensity</h5><br>
            <ul>
                <li>Challenger banks encroaching on their territory</li>
                <li>New online-only banks challenging in specific segments – low operating costs and highly intuitive
                    engagement models</li>
                <li>High-street banks challenging in the mortgage space – leveraging their scale and funding structures
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5 class="sapphire">Tougher market conditions</h5><br>
            <ul>
                <li>Ongoing low interest rates – no evidence of immediate up turn</li>
                <li>Negative effect on traditional profit- generation strategies</li>
                <li>Property sector most vulnerable due to political uncertainty and fluctuations in the global economy
                </li>
                <li>Regulatory intervention adding cost layers to compliance for retail banking product providers and
                    building societies</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5 class="sapphire">
                Evolving customer needs and behaviour
            </h5><br>
            <ul>
                <li>Consumers of all ages now expect integrated omnichannel experience from financial services providers
                </li>
                <li>Building societies lag other sectors in their digital offerings</li>
                <li>Increasing life expectancy necessitates evolution of services and products – especially wealth
                    management services and
                    sustainable pension provision products</li>
            </ul>
            <p style="float: right;">Ref: UK Building Societies: Ripe for Reinvention?<br>
                L.E.K. Consulting’s Financial Services practice</p>
        </div>
    </div>
</div>