<div>
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../../assets/callaccount.JPG">
        </div>
    </div>
</div>

<div class="bg">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="font pt-4">
                    CALL ACCOUNTS
                </p>
                <p class="font1 justify">
                    Status Capital Building Society is looking to introduce a Call Account which offers the advantages
                    of
                    both a Savings and
                    a Cheque Account. A call-like cheque account, has no ﬁxed deposit period, provides instant access to
                    funds, and allows
                    unlimited withdrawals. This type of account also provides the investor with interest which is
                    calculated
                    daily but
                    credited at the end of the month. This vehicle is perfect for large funds that may be called up
                    anytime
                    without the
                    rigidity of a ﬁxed notice period and without having the value of the funds being depleted by charges
                    should the funds be
                    kept for a longer period. Our members and clients will be advised soon as we officially introduce
                    the
                    call account.
                </p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

</div>