<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/boardofdirectors.JPG">
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h1> <span style="color: #2e6dc0;"> BOARD OF</span> DIRECTORS </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <div class="card border-0">
                <div class="no-gutters">
                    <div class="col-auto">
                        <img style="width: 160px;" src="../../../assets/Wandile Mtshali (2).jpg"
                            class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="card-bord">
                        <br>
                        <h4 class="card-title">Wandile Mtshali<br>
                            MBA (Heriot Vatt University)
                        </h4>
                        <small style="position:relative;top: -12px;">
                            Chairman
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card border-0">
                <div class="no-gutters">
                    <div class="col-auto">
                        <img src="../../../assets/almon-mbingo-87bd51e9.jpeg" class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="card-bord">
                        <br>
                        <h4 class="card-title">Almon Mbingo</h4>
                        <small style="position:relative;top: -12px;">Vice Chairman</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card border-0">
                <div class="no-gutters">
                    <div class="col-auto">
                        <img style="width: 180px;" src="../../../assets/mbetse.JPG" class="img-fluid rounded-circle"
                            alt="">
                    </div>
                    <div class="col">
                        <div class="card-body px-2">
                            <h4 class="card-title">Michael Mbetse <br>MBA (MANCOSA)</h4>
                            <small style="position:relative;top: -12px;">Managing Director</small>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row mt-4">

        <div class="col-md-4 text-center">
            <div class="card border-0">
                <div class="no-gutters">
                    <div class="col-auto">
                        <img src="../../../assets/nomfundo-fakudze-3cac5f6f.jpeg" class="img-fluid rounded-circle"
                            alt="">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title">Nomfundo Fakudze <br>BCom (Unisa), MBA (GIBS)</h4>
                            <small style="position:relative;top: -12px;">Executive Director</small>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="col-lg-4 text-center">
            <div class="card border-0">
                <div class="no-gutters">
                    <div class="col-auto">
                        <img src="../../../assets/claude-scholtz-16681819.jpeg" class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="card-body text-center">
                        
                        <h4 class="card-title">Claude Scholtz <br>
                            ND MSurv (wits)
                        </h4>
                        <small style="position:relative;top: -12px;">Director</small>

                    
                    </div>
                </div>
            </div>
        
        </div> -->
        <div class="col-lg-4">
            <div class="card border-0">
                <div class=" no-gutters">
                    <div class="col-auto text-center">
                        <img src="../../../assets/user.jfif" class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="col ">
                        <div class="card-body text-center">
                            <h4 class="card-title text-center">Sabelo Msibi <br> MSC Accounting & Finance (University Of
                                Wale) </h4>
                            <small style="position:relative;top: -12px;">Director</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-0">
                <div class="text-center no-gutters">
                    <div class="col-auto">
                        <img style="width: 200px;" src="../../../assets/sanele.JPG" class="img-fluid rounded-circle"
                            alt="">
                    </div>
                    <div class="col text-center">
                        <div class="card-body px-2">
                            <h4 class="card-title">Sanele Kunene <br>LLB (Uneswa), LLM (Buckingham)</h4>
                            <small style="position:relative;top: -12px;">Board Secretary</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <h2 class="mt-4"><span style="color: #2e6dc0;">TOP</span> MANAGEMENT</h2>
    <div class="row mt-4 mb-4 text-center">

        <div class="card border-0">
            <div class="no-gutters">
                <div class="col-auto">
                    <img src="../../../assets/nomfundo-fakudze-3cac5f6f.jpeg" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title">Nomfundo Fakudze <br>BCom (Unisa), MBA (GIBS)</h4>
                        <small style="position:relative;top: -12px;">Executive Director</small>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card border-0">
                <div class="no-gutters">
                    <div class="col-auto">
                        <img style="width: 180px;" src="../../../assets/mbetse.JPG" class="img-fluid rounded-circle"
                            alt="">
                    </div>
                    <div class="col">
                        <div class="card-body px-2">
                            <h4 class="card-title">Michael Mbetse <br>MBA (MANCOSA)</h4>
                            <small style="position:relative;top: -12px;">Managing Director</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 text-center">
                <div class=" no-gutters">
                    <div class="col-auto">
                        <img style="width: 200px;" src="../../../assets/sanele.JPG" class="img-fluid rounded-circle"
                            alt="">
                    </div>
                    <div class="col">
                        <div class="card-body text-center">
                            <h4 class="card-title">Sanele Kunene <br>LLB (Uneswa),<br> LLM (Buckingham)</h4>
                            <small style="position:relative;top: -12px;">Legal and Compliance Officer</small>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 text-center">
                <div class=" no-gutters">
                    <div class="col-auto">
                        <img style="width: 200px;" src="../../../assets/sibusisodlamini.jpg"
                            class="img-fluid rounded-circle" alt="">
                    </div>
                    <div class="col">
                        <div class="card-body text-center">
                            <h4 class="card-title">Sibusiso Dlamini <br>MSc IT,<br> (Central University of <br>
                                Nicaragua)</h4>
                            <small style="position:relative;top: -12px;">
                                Head of IT
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>