<div>
    <div class="row hide">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../assets/complaints policy.png">
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-lg-12">
            <p>
                Customer service and customer satisfaction are very crucial to SCBS. This complaints procedure and our
                customer service
                approach is underpinned by the principle of treating customers fairly (TCF), of which there are six TCF
                outcomes which
                guide us and underpin our customer service.
            </p>
            <p>
                Status Capital Building Society is committed to:
            </p>
            <ul>
                <li>Resolving client complaints in a manner which SCBS believes is fair to our clients, our business and
                    to our staff.</li>
                <li>Ensuring that clients have full knowledge of the procedures established for internal resolution of
                    their complaints,
                    details of which will be given to them in writing.</li>
                <li>Ensuring easy access to our complaints’ resolution facilities at any of our offices, or by way of
                    post, telephone or
                    email.</li>
                <li>Employing and empowering properly trained people in our business to deal with complaints, as well as
                    with the escalation
                    of serious non-routine complaints.</li>
                <li>Informing clients of their right to refer their complaints to the OFS should a complaint not be
                    resolved to their
                    satisfaction within six weeks from the date on which the complaint is received.</li>
            </ul>
            <br>
            <h4>
                Complaints <span class="denimblue">Procedure</span>
            </h4>
            <p>
                Steps to follow:
            </p>
            <ul>
                <li>Contact your branch.</li>
                <li>Reduce the complaint to writing.</li>
                <li>The branch will endeavour to resolve the complaint as soon as possible within a period not exceeding
                    30 days.</li>
                <li>Where you are not satisfied with how the complaint is resolved or has not been resolved at all
                    within such period please
                    contact the Ombudsman of Financial Services.</li>
            </ul>
            <br>
            <p>
                Details of the Ombud:
            </p>
            <h5>
                <span class="denimblue">PARTICULARS </span> OF OFS
            </h5>
            <br>
            <p>
                Telephone: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                +268 2404 4464
            </p>
            <p>
                E-mail address: &nbsp;&nbsp;&nbsp;&nbsp;
                info@ombudsfs.org.sz
            </p>
            <p>
                Postal address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                P.O. Box 8490, Mbabane, H100
            </p>
        </div>
    </div>
</div>

<br><br><br><br>