<div class="container">
    <h2 class="mt-4" id="executive-summary">EXECUTIVE<span style="color: #2e6dc0;"> SUMMARY</span></h2>
    <p><span style="color: #2e6dc0;">Status Capital Building Society</span> is an Eswatini registered and licensed
        financial services provider carrying on the business of a building society within
        the parameters of the Building Societies Act of 1962. Our head office and main branch is based at The Crescent,
        Ezulwini.</p>
    <p>Although the <span style="color: #2e6dc0;">Status Capital Building Society</span> was ﬁrst registered in 2019, it
        can draw on the vast skills and industry
        expertise of its assembled staff, management and business partners. <span style="color: #2e6dc0;">Status Capital
            Building Society</span> has developed its
        Vision and Mission in line with the National Development Strategy from the Minister of Economic Planning and
        Development
        and focus on SME Lending, Vendor Financing, Agriculture and Farming.</p>
    <p>
        The <em>“Making Access Possible”</em> (MAP) study (2014) on financial in Eswatini developed jointly by UNCDF,
        FinMark
        Trust (FMT)
        and the Centre for Financial Regulation and Inclusion (Cenfri) on financial inclusion revealed that only <span
            style="color: #2e6dc0;">3.7%</span> of
        self-employed people had access to formal credit. This means that <span style="color: #2e6dc0;">96.3%</span> of
        SME’s in the country are excluded
        from
        accessing credit. This harms the economy and <span style="color: #2e6dc0;">Status Capital Building
            Society</span> will be seeking to address and
        redress that
        by providing vendor financing and improving financial inclusion to boost SME’s in Eswatini. MAP noted that;
    </p>
    <p class="px-4" style="color: #2e6dc0;">“Access to credit is important for most businesses wanting to grow,
        including SME’s which
        frequently require large
        capital outlay to finance start-up, input and asset costs relative to small amounts of savings.”</p>
    <p><span style="color: #2e6dc0;">Status Capital Building Society</span> will, therefore, be playing our role to
        ensure that we improve financial
        inclusion in
        the SME sector in line with the country’s commitment towards sustainable development goals (SDG’s). We commit to
        economic development as well as economic growth.</p>
    <p>According to MAP (2014):</p>
    <p class="px-4" style="color: #2e6dc0;">“The irregular nature of farming incomes and the high capital investment
        required upfront in terms of seed, fertiliser
        or livestock, and farming equipment means that many farmers require credit upfront to fund this initial capital
        investment.”</p>
    <p>Assisting small scale and other start-up farmers with access to finance is very important for the country’s
        economy and
        for improving food security and food production in the country.</p>
    <h2>THE DIFFERENCE BETWEEN A <span style="color: #2e6dc0;">BANK AND A BUILDING SOCIETY</span></h2>
    <p>Few people would say they understand the difference between a bank and a building society.
        So, how do banks and building societies stack up against one another?<br>
        We will examine the differences as well as which is safer for your hard-earned money in the following sections.
        Is it safer to deposit your money in a traditional bank or a building society?<br>
        Banks and building societies have traditionally been intrinsically linked in terms of core principles and how
        they are
        run.
        But what are the true distinctions between the two?</p>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2 class="text-left">What is a <span style="color: #2e6dc0;">Bank</span>
            </h2>
            <p>A <em>bank</em> is a financial institution licenced to receive deposits and provide
                loans (but not payday
                loans).
                Commercial
                banks are concerned with managing withdrawals and receiving deposits in addition to supplying short-term
                loans to
                individual customers and businesses.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-left">What is a <span style="color: #2e6dc0;">Building Society</span>
            </h2>
            <p>A <em>building society</em> is a financial institution that offers higher interest on savings and
                investments, to
                its members. It
                also offers mortgages and provides banking and other financial services to its members.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2 class="text-left">Basic <span style="color: #2e6dc0;">Differences</span>
            </h2>
            <p><em>Banks</em> are companies that are usually listed on the stock market, hence they are owned by and run
                for the benefit of their own
                shareholders.</p>
            <p><em>Building societies</em> on the flip side do not have external shareholders involved in their
                business.</p>
            <p>Investors and deposit holders become “members” of the society. These members can vote on decisions that
                will affect the
                overall <em>building society</em>. Since building societies are not required to pay dividends to any
                shareholders
                due to the lack
                of them, it means that they can consequently offer better interest rates on savings and mortgages to
                their members.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-left">How <span style="color: #2e6dc0;">Building Societies</span> are run
            </h2>
            <p>There appears to be a lot of confusion about what distinguishes banks and building societies in terms of
                how they are
                run.</p>
            <p>The common misconception is that building societies rely entirely on customer savings deposits, but this
                is not the
                case.<br>
                Building societies receive funding not only from savings deposits but also from retail and institutional
                funds such as
                pension funds; however, building societies receive this funding in the form of fixed deposits or
                membership
                subscriptions rather than shareholder investments.</p>
        </div>
    </div>
    <h2 id="business-model">FUTURE-PROOFING OUR <span style="color: #2e6dc0;">BUSINESS STRATEGY</span></h2>
    <p>On the back of demutualization and legal changes introduced to the sector in the 1980’s (in the UK specifically),
        the
        competitive playing field is broadening, necessitating the need for building societies to evolve their offering
        away
        from the traditional model and environment within which they operate. A move that is essential to their very
        survival.</p>
    <h5 style="color: #2e6dc0;">Key challenges facing building societies</h5>
    <div class="row mt-4 mb-4">
        <div class="col-md-4">
            <p class="text-center"><b>Increasing competitive intensity</b></p>
            <ul>
                <li>Challenger banks encroaching on their territory</li>
                <li>New online-only banks challenging in specific segments – low operating costs and highly intuitive
                    engagement models</li>
                <li>High-street banks challenging in the mortgage space – leveraging their scale and funding structures
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="text-center"><b>Tougher market conditions</b></p>
            <li>Ongoing low interest rates – no evidence of immediate up turn</li>
            <li>Negative effect on traditional profit- generation strategies</li>
            <li>Property sector most vulnerable due to political uncertainty and fluctuations in the global economy</li>
            <li>Regulatory intervention adding cost layers to compliance for retail banking product providers and
                building societies</li>
        </div>
        <div class="col-md-4">
            <p class="text-center"><b>Evolving customer needs and behaviour</b></p>
            <li>Consumers of all ages now expect integrated omnichannel experience from financial services providers
            </li>
            <li>Building societies lag other sectors in their digital offerings</li>
            <li>Increasing life expectancy necessitates evolution of services and products – especially wealth
                management services and
                sustainable pension provision products</li>
        </div>
    </div>
    <div class="font mb-4" style="text-align: right;">
        <span>Ref: <em>UK Building Societies: Ripe for Reinvention?</em></span>
        <br>
        <span>L.E.K. Consulting's Financial Services Practice</span>
    </div>
</div>