<div>
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="../../../../assets/likusasa fixed deposit.JPG">
        </div>
    </div>
</div>

<div class="bg">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="pt-4 font">
                    LIKUSASA FIXED DEPOSIT ACCOUNT
                </p>
                <p class="font1 justify">
                    Likusasa fixed deposit is a fixed deposit account tailored specifically for minor children who
                    cannot be
                    signatories in
                    their own right due to a lack of capacity to contract.

                    This product has a maximum term of 60 months to cater for those parents who prefer a much
                    longer-term
                    for their
                    children’s investments. It includes capital protection which is returned or re-invested at the end
                    of
                    term and a perfect
                    opportunity for parents (on behalf of their children) to safeguard their capital while earning/
                    accumulating their
                    returns on interest.
                </p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

</div>